description = "Menu pour FACE"
==

<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-left">
			<a class="navbar-brand" href="/"><img src="/themes/face-toulouse/assets/img/logo.jpg" alt="logo"></a>
		</div>
		<div class="navbar-right">
			<ul class="nav navbar-nav">
				<li class=""> <!-- Ajouter class active si actif-->
            <a href="/">Accueil</a>
        </li>
				<li class="">
            <a href="/posts">Actualités</a>
        </li>
				<li class="">
            <a href="/about">Qui sommes nous ?</a>
        </li>
				<li class="">
            <a href="/activities">Champs d'intervention</a>
        </li>
				<li class="">
            <a href="/videos">Vidéothèque</a>
        </li>
				<li class="">
            <a href="/contact">Contact</a>
        </li>
			</ul>
		</div>
	</div>
</nav>
