==
<div class="top-bar">
    <div class="container-fluid top">
        <div class="row top-social">
            <div class="col-md-offset-8 col-xs-offset-4">
                <div class="social">
                    <ul class="list-inline social-top">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li class="divider"></li>
                    </ul>
                    <div class="top-number">
                        <p class="top-number"><i class="fa fa-phone-square"></i> <strong>05 90 90 90 90</strong></p>
                    </div>
               </div>
            </div>
        </div>
    </div>
    <div class="container bottom">
        <div class="row logo-punchline">
            <div class="col-md-4 col-xs-4">
                <a href="/"><img class="logo-face" src="/themes/face-toulouse/assets/img/logo.jpg" alt="logo"></a>
            </div>
            <div class="col-md-6 col-xs 8 punchline-div">
                <h1 class="punchline">FACE Grand Toulouse, le club des entreprises engagées pour l'emploi et la diversité.</h1>
            </div>
        </div>
    </div>
</div>
