

body {
  font-family: 'PT Serif', serif;
}

/* Top-bar */

.container-fluid.top {
  background-color: #00898F;
}

.top-social {
  padding-top: 1vh;
}

.logo-punchline {
  display: flex;
  flex-direction: row;
}

.logo-face {
  width: 300px;
}

.punchline-div {
  display: flex;
}

.punchline {
  font-size: 1.8em;
  text-align: center;
  font-style: italic;
  margin: auto;

  color: #00898F;
}

.social {
  display: flex;
  flex-direction: row;
}

.list-inline {
  margin-right: 1vw;
  border-right: 1px solid white;
}

i, li, .top-number{
  color: white;
}

/* Nav-bar */

.navbar {
  background-color: transparent;
}

.navbar-nav {
    width: 100%;
    text-align: center;
  }
.navbar-nav  > .menu-item {
    float: none;
    display: inline-block;
    font-size: 1.4em;
    border-bottom: solid 0.6vh transparent;
  }

.menu-item:hover {
  border-bottom: solid 0.6vh #f2a472;
  background-color: white;
}
