iframe{
	padding-right: 4em;
}

.titleVideo{
<<<<<<< HEAD
	padding-top: 2em;
=======
>>>>>>> fd74cf8d033f4e5d87111270e81dcabe7d258eb9
	color:#777;
	text-align: left;
}
.descriptionVideo{
	color: #00898F;
}
